/* CSS files add styling rules to your content */

body {
  background-image: url("oceanwaves.jpg");
  font-family: helvetica, Trebuchet MS, arial, sans-serif;
  margin: 2em;
}

title {
  color: black;
}

h1 {
  font-style: italic;
  color: #3a87c9;
}

.image-txt-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.topnav {
  background-color: #768ea3;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-family: helvetica, Trebuchet MS;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #3a87c9;
  color: white;
}

.label {
  color: gray;
  font-size: 32px;
  font-family: Trebuchet MS, helvetica, arial;
}

.tagline {
  color: #e9f5f2;
  font-size: 24px;
  font-family: Trebuchet MS, helvetica;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
}
